<strong>Olá, {{ owner }}</strong>
<p>Um novo usuário se inscreveu em um evento que você criou, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Evento: </strong> {{ event }} <br />
  <br />
  <small>
    Até o momento {{quantity}} pessoas já se inscreveram!
  </small>
</p>
